
<header>
	<div id="acessibilidade">
		<ul id="atalhos">
			<li><a href="#iniciodoconteudo" tabindex="1" accesskey="1">Conteúdo [1]</a></li>
			<li><a href="#iniciodomenu" tabindex="2" accesskey="2">Menu [2]</a></li>
			<li><a href="#rodape" tabindex="3" accesskey="3">Rodapé [3]</a></li>
		</ul>	
		<ul id="botoes">	
			<li><a href="ajuda-acessibilidade.html" id="bt_acessibilidade" tabindex="4" accesskey="4">Acessibilidade [4]</a></li>
			<li><a href="#" id="bt_contraste" tabindex="5" accesskey="5">Alto contraste [5]</a></li>	
			<li><a href="#" id="bt_menor" tabindex="6" accesskey="6">-A</a></li>
			<li><a href="#" id="bt_maior" tabindex="7" accesskey="7">+A</a></li>
		</ul>	
	<noscript>
		Caro leitor!
		Se você estiver lendo esta mensagem é porque o seu navegador não suporta
		"javascripts" ou porque a permissão de executar "javascripts" está
		desabilitada.
		Click no endereço a seguir para ver o conteúdo <a href="noscript/index.html">Home</a> em uma página sem "javascripts".
	</noscript>
	</div>

<input type="checkbox" id="bt_menu">
<label for="bt_menu">&#9776;</label>

	<nav class="menu" id="iniciodomenu">
		<ul>
			<li><a href="artistas.html" tabindex="8">Artistas</a></li>
			<li><a href="produtos.html" tabindex="9">Produtos</a></li>
			<li><a href="galeria.html" tabindex="10">Galeria</a></li>
			<li><a href="eventos.html" tabindex="12">Eventos</a></li>
			<li><a href="sobre.html" tabindex="13">Sobre</a></li>
			<li><a href="contato.html" tabindex="14">Contato</a></li>
		</ul>
	</nav>

	<a href="index.html" tabindex="11">
		<%= link_to root_path do %>
   		<%= image_tag "logo.png", id: "logo",  alt: "Logo Utopus - Home", title: "UTOPUS Home"  %>
		<% end %>
		
	</a>

</header>

<main>

<div class="banner" id="iniciodoconteudo">
	<%= link_to root_path do %>
   	<%= image_tag "banner-mobile.jpg", id: "bn-mob",  alt: "Banner Utopus" %>
	<% end %>
</div>

<div id="imghome">
	<a href="artistas.html">
		<%= link_to root_path do %>
   		<%= image_tag "link-home1.jpg", class: "imglink",  alt: "Conheça nossos artistas" %>
		<% end %>
	</a>
	<a href="eventos.html">
		<img class="imglink" src="imagens/link-home2.jpg" alt="Veja nosso calendário">
	</a>
	<a href="produtos.html">
		<img class="imglink" src="imagens/link-home3.jpg" alt="Conheça nossos produtos">
	</a>
	<a href="sobre.html">
		<img class="imglink" src="imagens/link-home4.jpg" alt="Conheça a Utopus">
	</a>
</div>
	
<div id="sections-mob">

	<h1>Eventos</h1>

	<img src="imagens/evento-mobile.jpg" id="event-mob" alt="Eventos Utopus">
	<div class="vejam">
		<a href="eventos.html">Veja mais eventos</a>
	</div>
	<div class="linkstext">
		<a href="artistas.html">Conheça os artistas</a>
	</div>
	<div class="linkstext">
		<a href="produtos.html">Produtos</a>
	</div>
	<div class="linkstext">
		<a href="galeria.html">Fotos e vídeos</a>
	</div>	

</div>

</main>

<footer id="rodape">

<a href="https://www.youtube.com/channel/UCeDiq6Ex3FJeGyrcaaELjvg" target="_blank">
	<img src="imagens/yt.png" alt="Ícone do Youtube" title="YouTube UTOPUS">
</a>
<a href="https://www.facebook.com/projetoutopus/" target="_blank">
	<img src="imagens/fb.png" alt="Ícone do Facebook" title="Facebook UTOPUS">
</a>
<a href="https://www.instagram.com/projetoutopus/" target="_blank">
	<img src="imagens/ig.png" alt="Ícone do Instagram" title="Instagram UTOPUS">
</a>
<a href="http://blogutopus.blogspot.com.br/" target="_blank">
	<img src="imagens/blog.png" alt="Ícone do Blog" title="Blog UTOPUS">
</a>

<p> &copy; UTOPUS All rights reserved 2018 </p>

</footer>