<header>
	
	<div id="acessibilidade">
		<ul id="atalhos">
			<li><a href="#iniciodoconteudo" tabindex="1" accesskey="1">Conteúdo [1]</a></li>
			<li><a href="#iniciodomenu" tabindex="2" accesskey="2">Menu [2]</a></li>
			<li><a href="#rodape" tabindex="3" accesskey="3">Rodapé [3]</a></li>
		</ul>
		<ul id="botoes">	
			<li><a href="ajuda-acessibilidade.html" id="bt_acessibilidade" tabindex="4" accesskey="4">Acessibilidade [4]</a></li>
			<li><a href="#" id="bt_contraste" tabindex="5" accesskey="5">Alto contraste [5]</a></li>	
			<li><a href="#" id="bt_menor" tabindex="6" accesskey="6">-A</a></li>
			<li><a href="#" id="bt_maior" tabindex="7" accesskey="7">+A</a></li>
		</ul>	
	<noscript>
		Caro leitor!
		Se você estiver lendo esta mensagem é porque o seu navegador não suporta
		"javascripts" ou porque a permissão de executar "javascripts" está
		desabilitada.
		Click no endereço a seguir para ver o conteúdo <a href="noscript/sobre.html">Sobre</a> em uma página sem "javascripts".
	</noscript>
	</div>
	
<input type="checkbox" id="bt_menu">
<label for="bt_menu">&#9776;</label>

	<nav class="menu" id="iniciodomenu">
		<ul>
			<li><a href="artistas.html" tabindex="8">Artistas</a></li>
			<li><a href="produtos.html" tabindex="9">Produtos</a></li>
			<li><a href="galeria.html" tabindex="10">Galeria</a></li>
			<li><a href="eventos.html" tabindex="12">Eventos</a></li>
			<li><a href="sobre.html" tabindex="13">Sobre</a></li>
			<li><a href="contato.html" tabindex="14">Contato</a></li>
		</ul>
	</nav>

	<%= link_to root_path do %>
   		<%= image_tag "logo.png", id: "logo",  alt: "Logo Utopus - Home", title: "UTOPUS Home", tabindex: "11"  %>
	<% end %>

</header>

<main id="pagina-sobre">

<h1 id="iniciodoconteudo"> Sobre nós </h1>
<%= link_to root_path do %>
<%= image_tag "keyframes/cassete.png", id:"key-img", alt: "Ilustração de fita cassete" %>
<% end %>

<p> <strong> Utopus </strong>é o nome do coletivo criado em 2014, 
na cidade de Itanhaém (litoral de São Paulo) que se formalizou como ONG em 
agosto de 2017, nossos objetivos são: </p>

<p>
<ul>
	<li>
	Achar, divulgar e profissionalizar jovens talentos, principalmente da área artística, 
	já que é surpreendente o número de adolescentes que canta, dança, desenha, escreve e gosta 
	de atuar. Valorizando a carreira artística como um sustento econômico;
	</li>
	<li>
	Fomentar a cultura no município de Itanhaém, por meio de eventos culturais variados;
	</li>
	<li>
	Criar espaços alternativos e seguros de lazer e entretenimento, onde o jovem possa 
	vivenciar experiências comuns à idade, mas de maneira consciente.
	</li>
</ul>
</p>


</main>

<footer id="rodape">

<a href="https://www.youtube.com/channel/UCeDiq6Ex3FJeGyrcaaELjvg" target="_blank">
   	<%= image_tag "yt.png", alt: "Ícone do Youtube", title: "Youtube Utopus" %>
</a>
<a href="https://www.facebook.com/projetoutopus/" target="_blank">
   	<%= image_tag "fb.png", alt: "Ícone do Facebook", title: "Facebook Utopus" %>
</a>
<a href="https://www.instagram.com/projetoutopus/" target="_blank">
   	<%= image_tag "ig.png", alt: "Ícone do Instagram", title: "Instagram Utopus" %>
</a>
<a href="http://blogutopus.blogspot.com.br/" target="_blank">
   	<%= image_tag "blog.png", alt: "Ícone do Blog", title: "Blog Utopus" %>
</a>

<p> &copy; UTOPUS All rights reserved 2018 </p>

</footer>
